<div class="container">
    <h1>Recipe List
        <a [routerLink]="['/recipe-create']" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <button class="btn btn-success" (click)="logout()">Logout</button>
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>duration</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.duration }}</td>
                <td>{{ recipe.author }}</td>
                <td><a [routerLink]="['/recipe-details', recipe._id]">Show Detail</a></td>
            </tr>
        </tbody>
    </table>
</div>
